<footer class="ua-green-bg pt-4 mt-auto container-fluid">

 

        <div class="col-md-12 px-4 mt-3 text-center text-white">
<img id="home-banner-logo" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name | escape }} home" class="mb-2 w-50">
            <h2 class="h2"><a href="{{ '/' | relative_url }}" class="text-white">{{ site.title }}</a></h2>
         <p class="small">built with
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder" class="text-white text-decoration-underline"> Collection Builder
                        
                       
                    </a></p>
              
           
           

        </div>

      



</footer>